.btn {
    background-color: $mainBlue;
    text-decoration: none;
    padding: .75rem 1.2rem;
    color: white;
    display: inline-block;

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        padding: 1.1rem; 

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}